footer
    .footer-info
        .footer-info__block
            .footer-info__logo
                a.logo__link(href="")
                    img.logo__img(src="images/logo.svg", alt="Logo")
            p.footer-info__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer-info__block
            h3.footer-info__title Navigation
            ul.footer-info__ul
                li.footer-info__item
                    a.footer-info__link About Us
                li.footer-info__item
                    a.footer-info__link News
                li.footer-info__item
                    a.footer-info__link Support
                li.footer-info__item
                    a.footer-info__link Product
        .footer-info__block
            h3.footer-info__title About Us
            ul.footer-info__ul
                li.footer-info__item
                    a.footer-info__link Who we are
                li.footer-info__item
                    a.footer-info__link Our team
                li.footer-info__item
                    a.footer-info__link Careers
                li.footer-info__item
                    a.footer-info__link Investors
        .footer-info__block
            h3.footer-info__title Support
            ul.footer-info__ul
                li.footer-info__item
                    a.footer-info__link Documentation
                li.footer-info__item
                    a.footer-info__link Community
                li.footer-info__item
                    a.footer-info__link Get in Touch
        .footer-info__block
            h3.footer-info__title Subscribe to our newsletter
            p.footer-info__description Receive our latest news and promotions in your inbox!
    .footer-copyright