header
    .logo
        a.logo__link(href="")
            img.logo__img(src="images/logo.svg", alt="Logo")
    .menu
        ul.menu__ul
            li.menu__item
                a.menu__link.active(href="#") Home
            li.menu__item
                a.menu__link(href="#") About Us
            li.menu__item.dropdown
                a.menu__link.dropdown-toogle(href="#") Services
                .dropdown-menu
                    a.dropdown-menu__item(href="#")
            li.menu__item
                a.menu__link(href="#") Careers
            li.menu__item
                a.menu__link(href="#") News
            li.menu__item
                a.menu__link(href="#") Documentation
            li.menu__item
                a.menu__link.menu__user-link(href="#") User Name